<!-- index.html-->

{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block dropdown %} 
  {% for station in stations %}
    <a class="dropdown-item" href="/station/{{ station[" id "] }}">{{ station["name"] }}</a>
  {% endfor %} 
{% endblock %} 
{% block body %}
<main role="main">
  <section class="jumbotron text-center city-info">
    <div class="container">
      <h1 class="jumbotron-heading">Weather Stations for Tanzania</h1>
      <!-- <p class="lead"> {{ station["name"] }}, Dar-es-salaam</p> -->
      <p class="lead">Mbagala Kuu Primary School</p>
    </div>
  </section>

  <div class="album">
    <div class="container">

      <div class="row">
        <div class="col-md-12 col-lg-12">
          <h4 class="text-center">Current Weather Condition</h4>
          <div class="card col-lg-3 col-md-3 col-sm-12">
            <p class="card-text">TEMPERATURE</p>
            <div class="text-center">
              <h1 class="wi wi-thermometer">
                  {{ cft_lastMeasuredTemp }}
              </h1>
              <h1 class="wi wi-celsius"></h1>              
            </div>
          </div>
          <div class="card col-lg-3 col-md-3 col-sm-12">
            <p class="card-text">HUMIDITY</p>
            <div class="text-center">
              <h1 class="wi wi-humidity">
                {{ cft_lastMeasuredHumidity }}
              </h1>
            </div>
          </div>
          <div class="card col-lg-3 col-md-3 col-sm-12">
            <p class="card-text">PM10 µg/m³ </p>
            <div class="text-center">
              <h1 class="wi wi-dust">
                {{ p1 }}
              </h1>
            </div>
            <script>

            </script>
          </div>

          <div class="card col-lg-3 col-md-3 col-sm-12">
            <p class="card-text">PM2.5 µg/m³</p>
            <div class="text-center">
              <h1 class="wi wi-smoke">
                {{ p2 }}
              </h1>
            </div>
            <script>

            </script>

          </div>
        </div>

        <div class="col-md-12" style="display: none;">
          <section="timeseries">
            <div class="col-md-12">
              <h4 class="text-center">Weather Condition for the past 12 hours</h4>
              <div style="padding: 5 30px">

                <input id="tab1" type="radio" name="tabs" checked>
                <label for="tab1">Temperature</label>

                <input id="tab2" type="radio" name="tabs">
                <label for="tab2">Humidity</label>

                <input id="tab3" type="radio" name="tabs">
                <label for="tab3">PM10 µg/m³</label>

                <input id="tab4" type="radio" name="tabs">
                <label for="tab4">PM2.5 µg/m³</label>

                <section class="tabSection" id="content1">
                  <div id="tempGraph">
                  </div>
                  <script type=text/javascript>
                  
                  </script>

                </section>

                <section class="tabSection" id="content2">
                  <div id="precipitationChart"></div>
                  <script>

                  </script>
                </section>

                <section class="tabSection" id="content3">
                  <div id="pressureSection"></div>
                  <script>

                  </script>
                </section>
                <section class="tabSection" id="content4">
                  <div id="aqSection"></div>
                  <script>

                  </script>
                </section>
              </div>

            </div>
          </section>
        </div>
      </div>
    </div>
</main>

{% endblock %}